*´{
    margin: 0;
    padding: 0;
   }
body{
    min-height: 100vh;
    background-image: url(/img/fondo1.jpg);
    background-size: auto;
}
.container {
    margin-top: 20px;
    max-width: 600px;
    height: 450px;
    border: 1px solid #918181;
    border-radius: 8px;
    padding: 5px;
    background-color: #eaeaea;

}
  